@model IEnumerable<IDS.GeneralTable.Supplier>

@{
    ViewBag.Title = "Supplier List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Styles {
    <link rel="stylesheet" href="~/Content/DataTables/datatables.css" />
    <link rel="stylesheet" href="~/Content/DataTables/DataTables-1.10.25/css/dataTables.bootstrap5.min.css">
    <link rel="stylesheet" href="~/Content/DataTables/Select-1.3.3/css/select.bootstrap5.min.css" />
}

<div class="row">
    <div class="col-sm-6 col-md-6 col-6">
        <h4>@ViewBag.Title</h4>
    </div>
    <div class="col-sm-6 col-md-6 col-6">
        <div class="text-right">
            <p>
                @{
                    if (Convert.ToInt32(ViewData["Page.Insert"]) == 1)
                    {
                        <a href="#" class="btn btn-sm btn-primary" title="Input Supplier" onclick="LoadCreateNewForm()">
                            <i class="fas fa-plus"></i>
                        </a>
                    }
                    else
                    {
                        <a href="#" class="btn btn-sm btn-primary" title="Input Supplier" onclick="NoAccess()">
                            <i class="fas fa-plus"></i>
                        </a>
                    }

                    if (Convert.ToInt32(ViewData["Page.Edit"]) == 1)
                    {
                        <a class="btn btn-sm btn-info" title="Edit Supplier" onclick="LoadEditForm()">
                            <i class="fas fa-edit"></i>
                        </a>
                    }
                    else
                    {
                        <a class="btn btn-sm btn-info" title="Edit Supplier" onclick="NoAccess()" disabled="disabled">
                            <i class="fas fa-edit"></i>
                        </a>
                    }

                    if (Convert.ToInt32(ViewData["Page.Delete"]) == 1)
                    {
                        <a onclick="Delete()" class="btn btn-sm btn-danger" title="Delete Supplier" href="#">
                            <i class="fas fa-trash"></i>
                        </a>
                    }
                    else
                    {
                        <a onclick="Delete()" class="btn btn-sm btn-danger" title="Delete Supplier" href="#">
                            <i class="fas fa-trash"></i>
                        </a>
                    }
                }
            </p>
        </div>
    </div>
</div>

<div class="table-responsive table-responsive-sm p-2 bg-white border">
    <table id="tableData" class="table table-bordered table-hover w-100">
        <thead>
            <tr>
                <th></th>
                <th class="align-middle">Supplier Code</th>
                <th class="align-middle">Supplier Name</th>
                <th class="align-middle">Contact Person</th>
                <th class="align-middle">Address</th>
                <th class="align-middle">City</th>
                <th class="align-middle">Country</th>
                <th class="align-middle">Phone</th>
                <th class="align-middle">Fax</th>
                <th class="align-middle">NPWP</th>
                <th class="align-middle">NPPKP</th>
                <th class="align-middle">Chart of Account.</th>
                <th class="align-middle">Operator ID</th>
                <th class="align-middle">Last Update</th>
            </tr>
        </thead>
    </table>
</div>

<div id="PartialSection">

</div>

@section Scripts {
    <script src="~/Scripts/moment.min.js"></script>
    <script type="text/javascript" src="~/Content/DataTables/datatables.min.js"></script>
    <script type="text/javascript" src="~/Content/DataTables/DataTables-1.10.25/js/dataTables.bootstrap5.min.js"></script>
    <script type="text/javascript" src="~/Content/DataTables/Select-1.3.3/js/select.bootstrap5.js"></script>

    <script type="text/javascript">
        var table = $('#tableData').DataTable
        ({
            "columnDefs": [
                {
                    "targets": 'no-sort',
                    "orderable": false,
                },
                {
                    "data": null,
                    "width": "20px",
                    "defaultContent": '',
                    "orderable": false,
                    "className": "select-checkbox",
                    "checkboxes": {
                        "selectRow": true
                    },
                    "targets": [0]
                },
                {
                    "width": "20px",
                    "orderable": true,
                    "targets": [1]
                },
                {
                    "width": "190px",
                    "orderable": true,
                    "targets": [2]
                },
                {
                    "width": "20px",
                    "orderable": true,
                    "targets": [3]
                },
                {
                    "width": "100px",
                    "orderable": true,
                    "targets": [4]
                },
                {
                    "width": "190px",
                    "orderable": true,
                    "targets": [5]
                },
                {
                    "width": "20px",
                    "orderable": true,
                    "targets": [6]
                },
                {
                    "width": "190px",
                    "orderable": true,
                    "targets": [7]
                },
                {
                    "width": "190px",
                    "orderable": true,
                    "targets": [8]
                },
                {
                    "width": "100px",
                    "orderable": true,
                    "targets": [9]
                },
                {
                    "width": "100px",
                    "orderable": true,
                    "targets": [10]
                },
                {
                    "width": "120px",
                    "orderable": true,
                    "targets": [11]
                },
                {
                    "width": "120px",
                    "orderable": true,
                    "targets": [12]
                },
                {
                    "width": "50px",
                    "orderable": true,
                    "targets": [13]
                }
            ],
            "select": {
                "style": 'os'
            },
            "language":
            {
                "search": "",
                "searchPlaceholder": "Search...",
                "emptyTable": "No record found.",
                "processing": "<div class='overlay custom-loader-background'><i class='fa fa-cog fa-spin custom-loader-color'></i></div>"
            },
            "processing": "true",
            "order": [[1, "asc"]],
            "serverSide": "true",
            "lengthMenu": [[1, 10, 20, 50, 100, 1000, -1], [1, 10, 20, 50, 100, 1000, "All"]],
            "pageLength": 10,
            "ajax":
            {
                "url": '@Url.Action("GetData", "Supplier", new { Area = "GeneralTable" })',
                "type": "POST",
                "dataType": "JSON"
            },
            "columns": [
                { "data": null},
                { "data": "SupCode", "name": "SupCode" },
                { "data": "SupName", "name": "SupName" },
                { "data": "ContactPerson", "name": "ContactPerson" },
                { "data": "Address1", "name": "Address1" },
                { "data": "SupCountry.CountryName", "name": "SupCountry.CountryName" },
                { "data": "SupCity.CityName", "name": "SupCity.CityName" },
                { "data": "Phone", "name": "Phone" },
                { "data": "Fax", "name": "Fax" },
                { "data": "NPWP", "name": "NPWP" },
                { "data": "NPPKP", "name": "NPPKP" },
                { "data": "SupAcc.Account", "name": "SupAcc.Account" },
                { "data": "OperatorID", "name": "OperatorID" },
                {
                    "data": "LastUpdate", "name": "LastUpdate",
                    "render": function (data, type, row, meta) {
                        return moment(row.LastUpdate).format('DD/MMM/YYYY HH:mm:ss');
                    }
                }
            ]
        });

        function LoadCreateNewForm() {
            document.location = '@Url.Action("Create","Supplier", new { Area = "GeneralTable" })';
        }

        function LoadEditForm() {
            var form = this;
            var selRow = table.rows('.selected').data();

            if (selRow.length > 0) {
                supCode = selRow[0]["SupCode"];
                var param = supCode;
                var _url = '@Url.Action("Edit","Supplier", new { Area = "GeneralTable" ,SupCode= "XXX" })'; // Param is the example parameter name. Change as needed.
                _url = _url.replace("XXX", param);
                document.location = _url;

                $('#SupCode').attr('readonly')
            }
            else {
                alert("Please select data to be edit");
            }
        }

        function Delete() {
            var form = this;
            var selRow = table.rows('.selected').data();

            if (selRow == null || selRow == 'undefined' || selRow.length == 0) {
                alert("Please select the data you want to delete");
                return false;
            }

            var dataCollection = '';
            var data = '';

            $.each(selRow, function (index, row) {
                data += row["SupCode"] + ',';
                dataCollection += '[' + row["SupCode"] + '] - ' + row["SupName"] + "\n";
            })

            var answer = confirm("You are about to delete data:\n" + dataCollection + "\nAre you sure want to delete the data ?");

            if (answer) {
                if (dataCollection.length > 0) {
                    $.ajax({
                        type: "POST",
                        url: '@Url.Action("Delete", "Supplier", new { Area = "GeneralTable" })',
                        data: { "suppliersCodeList": data },
                        dataType: 'JSON',
                        success: function (respond) {
                            switch (respond) {
                                case "NoAccess":
                                    window.location.href = '@Server.MapPath("~/Views/Shared/View403.cshtml")'
                                    break;
                                case "Success":
                                    alert(respond);
                                    window.location.href = '@Url.Action("index", "Supplier", new { Area = "GeneralTable" })'
                                    break;
                                default:
                                    alert(respond);
                                    window.location.href = '@Url.Action("index", "Supplier", new { Area = "GeneralTable" })'
                                    break;
                            }

                        },
                        error: function (respond) {
                            alert(respond);
                        }
                    })
                }
            }
            else {
                return false;
            }
        }
    </script>
}
