
@{
    ViewBag.Title = "Process Accrual";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@section Styles {
    <link rel="stylesheet" href="~/Content/DataTables/datatables.css" />
    <link rel="stylesheet" href="~/Content/DataTables/DataTables-1.10.25/css/dataTables.bootstrap5.min.css">
    <link rel="stylesheet" href="~/Content/DataTables/Select-1.3.3/css/select.bootstrap5.min.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/flatpickr/flatpickr.min.css" />
    <link href="~/Content/Select2/css/select2.min.css" rel="stylesheet" />
}

@{
    Html.RenderPartial("_ProgressPage");
}

@Html.Hidden("result", ViewData["result"])
@Html.Hidden("dtpValue", ViewData["dtpValue"])

<div class="row mb-2">
    <div class="col-sm-6 col-md-6 col-6">
        <h4>@ViewBag.Title</h4>
    </div>
</div>

<div class="row mb-4">
    <div class="row mb-2 justify-content-between col-sm-3">
        @*<label for="PeriodIndex" class="col-sm-1 col-form-label col-form-label-sm">Period</label>*@
        @Html.Label("Period", new { @class = "control-label col-sm-2 col-form-label" })
        <div class="col-sm-9">
            @*<input class="form-control form-control-sm bg-white datepicker text-box single-line flatpickr-input valid active" data-val="true" id="PeriodIndex" name="Period" type="text" aria-describedby="Mont-error" aria-invalid="false">*@
            @Html.DropDownList("Period", ViewData["PeriodList"] as SelectList, new { @id = "cboPeriod", @class = "form-control form-control-sm select2DDList" })
        </div>
    </div>

    <div class="row mb-2 justify-content-between col-sm-1">
        <div class="col-sm-10">
            <button class="btn btn-sm btn-primary" type="button" onclick="Process()">
                Process
            </button>
        </div>
    </div>
</div>

@*<div class="row mb-0">
    <div class="row mb-4 justify-content-between col-sm-6">
        <div class="col-sm-10">
            <label hidden class="form-check-label col-sm-6 text-center" style="color:green" for="chkBegYear" id="process">
                Process Done *
            </label>
        </div>
    </div>
</div>*@



<div class="modal fade" id="loadingModal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered d-flex justify-content-center" role="document">
        <div class="d-flex flex-column align-items-center justify-content-center">
            <div class="row">
                <div class="spinner-border text-primary" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
            </div>
            <div class="row">
                <strong>Process...</strong>
            </div>
        </div>
    </div>
</div>

<div class="modal fade bd-example-modal-lg" id="errorMessageModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content" style="height:300px;">
            <div class="modal-header">
                <h5 class="modal-title" id="errorMessageModal">Message Result</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="modalClose()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="divErrorMessage">
                <textarea class="form-control" style="height:100%; resize:none" id="txtErrorMessage"></textarea>
            </div>
            @*<div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>*@
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/Scripts/moment.min.js"></script>
    <script type="text/javascript" src="~/Content/DataTables/datatables.min.js"></script>
    <script type="text/javascript" src="~/Content/DataTables/DataTables-1.10.25/js/dataTables.bootstrap5.min.js"></script>
    <script type="text/javascript" src="~/Content/DataTables/Select-1.3.3/js/select.bootstrap5.js"></script>
    <script src="~/Content/Select2/js/select2.full.min.js"></script>
    <script type="text/javascript" src="~/Scripts/GeneralDataTable.js"></script>

    <script type="text/javascript">
        var arrChkVal = new Array();
        var arrrsltProcess = new Array();
        $(document).ready(function () {
            $(".select2DDList").select2();
        });

        function Process() {
            var answer = confirm("Are you sure want to Process Accrual at Period " + $('#cboPeriod option:selected').text() + " ?");

            //var period = $("#cboPeriod").val();

            if (answer) {
                @*modalProcess();

                var url = '@Url.Action("Index", "ProcessAccrual", new { Area = "Sales" })';

                var form = $('<form action="' + url + '" method="POST">');
                form.append('<input type="hidden" name="dtpPeriod" value="' + $("#PeriodIndex").val() + '" />');
                form.append('</form>');
                $('body').append(form);
                form.submit();
                PeriodValue = $("#PeriodIndex").val();

                result = '';*@
                modalProcess();
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("Process", "ProcessAccrual", new { Area = "Sales" })',
                    data: { "period": $("#cboPeriod").val()},
                    dataType: 'JSON',
                    success: function (respond) {
                        
                        $('#cboPeriod').empty();
                        $.each(respond.list, function (i, item) {
                            $('#cboPeriod').append('<option value = "' + item.Value + '">' + item.Text + '</option>');
                        });
                        $('#loadingModal').modal('hide');
                        alert(respond.msg);
                    },
                    error: function (respond, xhr, msg) {
                        $('#loadingModal').modal('hide');
                        alert(respond.msg);
                    }
                })
            } else {
                return false;
            }


        }

    </script>
}

